body {
  margin: 0;
  font-family: Inter;
  background-color: #ffffff;
}

header {
  background-color: #1a73e8;
  padding: 5px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 200px;
}

.burger {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  margin-bottom: 5px;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 20px 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-right {
  gap: 40px;
}

.search {
  position: relative;
}

.search input {
  border-radius: 25px;
  border: none;
  background: #202e70;
  padding: 10px 0px 10px 40px;
  font-size: 16px;
  width: 200px;
  color: white;
}

.search input[type="text"]::placeholder {
  color: #ccc;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.flex-align {
  display: flex;
  align-items: center;
}

.support-Cart-People {
  gap: 16px;
}

.pointer {
  cursor: pointer;
}

.support-icon img {
  margin-left: 10px;
}

.hero {
  color: white;
  background: url("/TASK 04 ResponsiveDesign from Figma/assets/Satellite.png")
    no-repeat center center;
  background-size: cover;
  padding: 100px;
}

.hero-text {
  display: grid;
  max-width: 500px;
}

.hero-text h1 {
  font-weight: 800;
  margin: 0;
}

.hero-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #fefefebf;
  width: 75%;
  padding-top: 10px;
}

.buttons-Cost-and-Experience {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.order-button {
  background-color: #2143db;
  border: none;
}

.experience-button {
  background-color: transparent;
  border: 0.5px solid #9e6c6cbf;
}

.order-button,
.experience-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.order-button:hover,
.experience-button:hover {
  background-color: transparent;
  color: #f80909;
  border: 0.5px solid #fefefebf;
  transition: background-color 0.3s, color 0.3s;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 60px 0;
}

.service {
  text-align: center;
  margin: 20px 30px;
}

.service img {
  width: 72px;
  height: 72px;
}

.service p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

@media (max-width: 1250px) and (min-width: 550px) {
  nav {
    margin: 5px 40px;
  }

  nav ul li,
  .support-icon,
  .cart-icon {
    display: none;
  }

  .search input {
    width: 120px;
  }

  .nav-right {
    gap: 30px;
  }
}

@media (max-width: 550px) and (min-width: 200px) {
  nav {
    gap: 15px;
    margin: 5px 15px;
  }

  nav ul li,
  .support-icon,
  .cart-icon {
    display: none;
  }
  .nav-right {
    gap: 16px;
  }

  .search input {
    width: 120px;
  }

  .services {
    margin: 0 2left;
  }

  .buttonsCostandExp {
    gap: 15px;
  }
}

@media (max-width: 1250px) {
  nav {
    justify-content: space-between;
  }

  .hero {
    padding: 200px 10px 20px 15px;
  }

  .service {
    margin: 20px 0;
  }

  .service img {
    margin: 0;
    padding: 0 15px;
  }
}

@media (min-width: 1250px) {
  .burger {
    display: none;
  }

  .nav-left img {
    margin-right: 45px;
  }
}

@media (min-width: 200px) {
  .nav-left img {
    margin-top: 5px;
  }

  .hero-text h1 {
    font-size: 50px;
    line-height: 50px;
    width: 100%;
  }
}
